* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 200vh; 
    background-color: #A19DCA;
    background-repeat: no-repeat;
  
}

.Discover {
    padding: 10px 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Discover h2 {
    margin: 5px;
}


.discover-title {
    color: black;
    margin-bottom: 10px;
}

.discover-content {
    display: flex;
    justify-content: space-between;
}

.discover-trend {
    background: transparent;
    background-color: aliceblue;
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 45%;
}
.discover-recommendation{
    border: 1px solid black;
    background: transparent;
    padding: 5px;
    width: 30%;
    background-color: aliceblue; 
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);

}

.trend-item a {
    text-decoration: none;
}

.trend-title,
.recommendation-title {
    
    color: black;
    margin-bottom: 10px;
}
section .recommendation-user{
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

section .recommendation-user {
    width: 99%;
    height: auto;
    padding: 10px 10px 0px 1px;
}

section .recommendation-user li{
    list-style-type: none;
    display: flex;
    padding: 5px 0px;
    align-items: center;

}
section .recommendation-user i{
   margin: auto;
   
}



section .recommendation-user li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
section .recommendation-user li a p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
  }

section .recommendation-user button{
   border: none;
   outline: none;
   background: none;
   margin-right: 5px;
   color:rgba(0, 0, 0, 0.6);
   transition: .3s linear;
   cursor: pointer;
  }
section .recommendation-user button:hover{
    color: rgba(0, 0, 0);
   }

section .recommendation-user button i{
    margin-right: 5px;
   }

.recommendation-user {
    position: relative;

}
section .recommendation-user .interest{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    
   }
.recommendation-user:hover .interest{
    left: 40%;
    opacity: 1;
    pointer-events: all;
   }

.trend-list {
    list-style: none;
    padding: 1;
}

.trend-item,
.user-name {
    color: black;
    margin-bottom: 5px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


section .trend-list {
    width: 100%;
    height:auto;
    padding: 15px 15px 0px 15px;

}

section .trend-list li{
   list-style-type: none;
   align-items: center;
   justify-content: space-between;
   padding: 5px 0px;
}

section .trend-list li p{
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
 }
 
.container1{
    width: auto;
    height: auto;
    margin: 0 80px;
}

.container1 h3{
    text-align: center;
}

.discover-post{
    background: transparent;
    background-color: aliceblue;
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 100px;
    width: 85%;
    margin: 70px;
    padding-left: 55px;
    border-radius: 8px;
    height: 900px;
}

 section .discover-post .main-post .post-profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}


section .discover-post .main-post .post-profile .content { 
    padding: 10px; 
    border: 2px solid rgb(143, 143, 143); 
    width: 400px; 
    margin: 2 auto;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1) ;
}
 section .discover-post .main-post .post-profile .content p{
   margin: auto;
   padding: 10px;
   text-align: center;
}

.content a {
    margin: 20px;
}

.content img {
    height: 222px;
    width: 222px;
}

 .right-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1;
    background-color: #f3b86b;
    border: 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.1);
    padding: 60px;
    width: 40%;
    margin: calc(6% - 5px) ; 
    border-radius: 1px;
}
section {
    position: relative;
}

.content2 h3{
   text-align: center;
    
}
 .content-border{
    position:relative;
    padding: 30px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    width: 400px;
    background: transparent;  
 }

 .content-border p {
    text-align: center;
    padding: 10px;
 }

 .content-border img {
    border-radius: 50%;
 }
