* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    transition: padding 0.3s ease;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background: #A19DCA;
    transition: background 0.3s ease;
}

header nav .navbar a:hover {
    color: #EEEDEB;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    transition: padding 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
    width: auto;
}

.search-box {
    background: aliceblue;
    border-radius: 25px;
    margin-right: auto;
    width: 250px;
    display: flex;
    padding: 0 15px;

}

.search-box input {
    background: transparent;
    padding: 10px;
    border: 0;
}

.navbar {
    margin: 10px;
    padding: 10px;
    margin-right: auto;
    transition: padding 0.3s ease;
}

.navbar a {
    color: black;
    margin: 15px;       
    font-size: larger;
    text-decoration: none;
}

.b1 {
    padding: 6px;
    border-radius: 20px;
}

.b1 a, .b2 a {
    text-decoration: none;
}

.b1 a .b2 a:hover {
    color: #000;
}

.b2 {
    background-color: #E78895;
    border-radius: 20px;
    padding: 6px;
}

.button {
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 1s ease; 
}

.button:active {
    transform: translateY(5px);
}
.container {
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: aliceblue;
    margin: 0 80px;
    display: flex;
    align-items: center;
    margin: 40px 80px 0;
}

.grid-container {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.grid-rows{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.row1 {
    height: 100px;
    display: flex;
    align-items: center;
    width: 980px;
    border-bottom: 1px solid black;
}

.row {
    width: 1075px;
    height: 165px;
    border: 1px solid black;
    margin-top: 15px;
    align-items: center;

}

.row img{
    width: 40px;
    height: 37px;
    position: relative;
    z-index: 1;
    top: -30px;
    left: -30px;
}

.row p {
    position: relative;
    margin: -69px 0 0 -70px; 
    color: black;
    flex: 1;
}

.grid-item {
    flex: 1;
    display: flex;
    align-items: center;
}

.grid-item p {
    color: black;
    flex: 1;
    text-align: start;
}

.grid-item1 {
    display: flex;
    align-items: center;
    position: relative
}

.grid-item1 p {
    font-size: large;
    margin:  -60px 0 0 -60px;
    color: black;
    flex: 1;
}

.number {
    gap: 10px;
    position: absolute;
    top: 50px;
    font-size: larger;
    color: #A19DCA;
    right: -700px; 
}

.number ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.number ul li a {
    text-decoration: none;
}

.number li {
    margin-right: 70px;
}

.actions {
    position: absolute;
    bottom: 50px;
    top: 70px;
    right: -680px; 
    display: flex;
}

.actions p {
    margin: 13px;
}

.ques p {
    margin: 20px 180px -10px -10px ;

}

.btn {
    display: flex;
    margin-top: 100px;
}

.bb1, .bb2 {
    margin-right: 25px;
    padding: 5px;
    text-decoration: none;
    border-radius: 20px;
}

.bb1 a, .bb2 a {
    text-decoration: none;
}

.bb1 {
    background-color: #E78895;
}

.bb2 {
    border: 1px solid black;
}


.grid-column {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 350px;
    height: 764px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-column img {
    height: 232px;
    border: 1px;
}

.icon {
    position: relative;
    display: inline-block;
    border-bottom: 1px;
}

.icon img {
    display: block;
    margin: 50px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.icon img.min {
    width: 66px; 
    height: 66px; 
    border-radius: 50%;
    position: relative;
    z-index: 1;
    top: -20px;
    left: -20px;
}


.column1 {
    display: flex;
    width: 325px;
    flex-direction: column;
    align-items: center;
}

.column1 img.eli {
    width: auto;
    height: 233px;
    border-radius: 50%;
    position: sticky; 
}

.column1 p {
    font-size: larger;
    color: black;
    position: relative;
}

.column1 small {
    color: black;
    position: relative;
}

.column1 p {
    word-wrap: break-word; 
    text-align: center;
}
