* {
    padding: 0%;
    margin: 0%;
    font-family: 'poppins';
}

body {
    background: #fff;

}

nav {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: #A19DCA ;
    padding: 5px 5%;
    top: 0;
    position: sticky;
}

.logo {
    height: auto;
    width: 150px;
}

.logo-icon {
    margin: 5px;
}

.search-box {
    height: 45px;
    background: #efefef;
    max-width: 700px; 
    border-radius: 25px;
    padding: 0 25px;
    align-items: center;
    margin: 0 auto;
}

.search-box input {
    flex: 1;
    background: transparent;
    padding: 15px;
    outline: none;
    border: 0;
}

.sb-icon {
    margin-top: 5px;
}


.left {
    display: flex;
    align-items: center;
}

.icon img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.icon {
    margin-left: 100px;

}                                                                                                                                    

.online {
    position: relative;
}

.online::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff ;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    bottom: 6px;
    right: 0;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    
}

.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #FCEED1;
    padding: 20px;
    background-repeat: 4px;
    color: #393E46;
}

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    
} 

.main {
    flex-basis: 47%;

}

.imp-links a, .shortcut-links a  {
    text-decoration: none;
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 30px;
    color: #393E46;
    width: fit-content;
}

.home a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #393E46;
    width: fit-content;
}

.home i {
    width: 10px;
    margin-right: 15px;
}

.home {
    
    border-bottom: 1px solid #393E46;
}

.imp-links a i {
    width: 10px;
    margin-right: 15px;
}

.imp-links a:last-child {
    font-size: smaller;
}

.imp-links {
    border-bottom: 1px solid #393E46;
}

.imp-links h4, .shortcut-links h4{
    font-weight: 700;
    font-style: 20px;
    color: #393E46;
    margin: 25px 0;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #393E46;
    font-weight: 500;
}

.sidetitle {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.sidetitle h4 {
    font-weight: 500;
    font-style: 16px;
}

.sidetitle a {
    text-decoration: none;
    color: #393E46;
    font-style: 12px;
}